<% i = 0 %>
<% @themes.each do %>
<li class="tab-title <%= 'active' if i == 0 %>" role="presentational" >
  <a href="#panel<%=i+1%>">
  <%= @themes[i].metadata.language %>
  </a>
</li>
<% i += 1 %>
<% end %>