<li class="tab-title active" role="presentational" >
  <a href="#panel1">
  <%= @themes[0].metadata.language %>
  </a>
</li>
<li class="tab-title" role="presentational" >
  <a href="#panel2">
  <%= @themes[1].metadata.language %>
  </a>
</li>
<li class="tab-title" role="presentational" >
  <a href="#panel3">
  <%= @themes[2].metadata.language %>
  </a>
</li>
<li class="tab-title" role="presentational" >
  <a href="#panel4">
  <%= @themes[3].metadata.language %>
  </a>
</li>