<br/>
<%= link_to 'Go back', :back, class: "button round tiny info" %>

<!-- Remove "Link to home - <A href=\"/eportal/index.htm\">Home</A>" with gsub -->

<%= render html: Boilerpipe.extract("portal/#{params[:search_id]}", {:output => :htmlFragment}).html_safe %>